<ion-header>
  
</ion-header>

<ion-content scroll="false">
 <ion-list>
 	<img src="assets/imgs/logo_c.png" style="margin-top: 55px;"/>
 	<div padding style="margin-top: 20px;">
 		<p class="login-text">Bienvenido a la primera</p>
 		<p class="login-text">corredora online de Chile</p>
 	</div>
 	<div *ngIf="general">
		<div style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
	        <button ion-button color="primary" block (click)="loginCliente()">INGRESAR COMO CLIENTE</button>         
	        <button ion-button block clear class="link-button">Solicitar una Cuenta</button> 
	    </div>
	    <div style="margin-left: 15px; margin-right: 15px; margin-top: 55px;">
	    	<p style="margin-bottom:10px;" class="login-text-alt">────── O Ingresar como Invitado ──────</p>
	    	<button ion-button color="facebook" block icon-end class="social-button">INGRESAR COMO INVITADO FACEBOOK 
	    		<ion-icon name="custom-facebook" class="icon item-icon social-icon" item-end></ion-icon>
	    	</button>
	    	<button ion-button color="twitter" block icon-end class="social-button">INGRESAR COMO INVITADO TWITTER 
	    		<ion-icon name="custom-twitter" class="icon item-icon social-icon" item-end></ion-icon>
	    	</button>
	    	<button ion-button color="google" block icon-end style="margin-top: 5px;">INGRESAR COMO INVITADO GOOGLE 
	    		<ion-icon name="custom-google" class="icon item-icon social-icon" item-end></ion-icon>
	    	</button>	    	
	    </div>	    
	</div>
	<div *ngIf="nameUser">		
		<div style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
			<p class="login-text-alt">Ingrese su nombre</p>		
			<ion-item class="transparent" padding>
			    <ion-label color="white"><ion-icon name="custom-user" class="icon item-icon"></ion-icon> Nombre</ion-label>
			    <ion-input type="name" clear class="login-input"></ion-input>
			</ion-item>
	        <button ion-button color="primary" block (click)="loginUser()">SIGUIENTE</button>         
	        <button ion-button block clear class="clear-button">¿Olvidaste tu contraseña?</button> 
	    </div>
	</div>	
	<div *ngIf="rutUser">		
		<div style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
			<p class="login-text-alt">Ingrese su Rut</p>		
			<ion-item class="transparent" padding>
			    <ion-label color="white"><ion-icon name="custom-user" class="icon item-icon"></ion-icon> Rut</ion-label>
			    <ion-input type="name" clear class="login-input"></ion-input>
			</ion-item>
	        <button ion-button color="primary" block (click)="loginRut()">SIGUIENTE</button>         
	        <button ion-button block clear class="clear-button">¿Olvidaste tu contraseña?</button> 
	    </div>
	</div>
	<div *ngIf="passUser">		
		<div style="margin-left: 15px; margin-right: 15px; margin-top: 30px;">
			<p class="login-text-alt">Bienvenido</p>		
			<ion-item class="transparent" padding>
			    <ion-label color="white"><ion-icon name="custom-fingerprint" class="icon item-icon"></ion-icon><ion-icon name="custom-lock" class="icon item-icon"></ion-icon> Clave</ion-label>
			    <ion-input type="password" clear class="login-input"></ion-input>
			</ion-item>
	        <button ion-button color="primary" block (click)="login()">INGRESAR</button>         
	        <button ion-button block clear class="clear-button">¿Olvidaste tu contraseña?</button> 
	    </div>
	</div>
 </ion-list>
 <ion-footer>
 	<div style="margin-left: 15px; margin-right: 15px;">
    	<p class="footer-note">Informese sobre la garantía estatal de los depósitos en su Banco o en www.sbif.cl | 2013 Banco Consorcio. Todos los derechos reservados</p>
    </div>
 </ion-footer>
</ion-content>
