page-login {
	.scroll-content {	
	  	background-image: url(../assets/imgs/login_background.jpg);
	  	display: flex;
	  	flex-direction: column;	      
	  	z-index: 1;    
	  	position: absolute;
	    top: 0px; left: 0px;
	    width: 100%; height:100%;
	  	background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;  
	    overflow: hidden;
    }

    .link-button {
    	color: white;
    	text-transform: none;
    	text-decoration:underline;
    	margin-top: 5px;
    }

    .clear-button {
    	color: white;
    	text-transform: none;
    	font-size: 15px;
    }

    .login-text-alt {
    	color:white;
     	text-align: center;
     	font-size: 15px;
    }

    img {
    	margin-top: 10px;
    	width: 55%; height:55%;
    	display: block;
	    margin-left: auto;
	    margin-right: auto;
    }

    h6 {
     	color:white;
     	text-align: center;
    }

    .footer-note {
    	color:white;
     	text-align: center;
     	font-size: 10px;
    }

    .login-text {
    	color:white;
     	text-align: center;
      	font-weight: bold;
      	padding: 0px !important;
      	margin-top:0 !important;
        margin-bottom:0 !important;
      	font-size: 25px;
    }

    .login-input {
    	color: white;
    	
    }
    .social-button {
    	opacity: .8;
    	text-align: left;
    	margin-top: 5px;
    }

    .social-icon {
    	margin-left: 5px;
    }

    .transparent {
    	background-color: transparent;
    }


}
