page-searches {

  .my-label {
    font-size: 1em;
  }

  .blackText{
    color: #303030 !important;
    font-weight: 500 !important;
  }

  h3, .icon, .icon-ios, .icon-ios-primary, .ion-ios-arrow-round-up{
    font-weight: normal !important;
  }



  //.searchbar-search-icon {
  //  background-image: url("../../assets/imgs/mic.svg")!important;
  //}
}
