<ion-header>

  <ion-navbar>
    <ion-row>
      <ion-col><ion-title>Busqueda</ion-title></ion-col>
    </ion-row>
    <ion-row>
      <ion-searchbar></ion-searchbar>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item class="headerBckColor grayText">BUSQUEDAS RECIENTES</ion-item>

    <ion-list>

      <ion-item-sliding>
        <ion-item>
          <ion-row>
            <ion-col col-6>
              <h3 class="blackText">SONDA</h3>
              <small class="grayTextSmall">Sonda S.A.</small>
            </ion-col>
            <ion-col>
              <h3 class="grayTextBig">$245.000</h3>
            </ion-col>
            <ion-col>
              <h3>
                <ion-icon name="arrow-round-up" color="primary" > 1,1%</ion-icon>
                <ion-icon name="arrow-forward" color="gray"></ion-icon>
              </h3>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="blue" class="my-label">
            Agregar a watchlist
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary" class="my-label">
            Comprar
          </button>
          <button ion-button color="blue" class="my-label">
            Vender
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-row>
            <ion-col col-6>
              <h3 class="blackText">CAP</h3>
              <small class="grayTextSmall">Cap S.A.</small>
            </ion-col>
            <ion-col>
              <h3 class="grayTextBig">$245.000</h3>
            </ion-col>
            <ion-col>
              <h3>
                <ion-icon name="arrow-round-up" color="primary"> 1,1% </ion-icon>
                <ion-icon name="arrow-forward" color="gray"></ion-icon>
              </h3>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="blue" class="my-label">
            Agregar a watchlist
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary" class="my-label">
            Comprar
          </button>
          <button ion-button color="blue" class="my-label">
            Vender
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-row>
            <ion-col col-6>
              <h3 class="blackText">BANMEDICA</h3>
              <small class="grayTextSmall">Banmedica S.A.</small>
            </ion-col>
            <ion-col>
              <h3 class="grayTextBig">$800.000</h3>
            </ion-col>
            <ion-col>
              <h3>
                <ion-icon name="arrow-round-up" color="primary"> 3,1% </ion-icon>
                <ion-icon name="arrow-forward" color="gray"></ion-icon>
              </h3>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="blue" class="my-label">
            Agregar a watchlist
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary" class="my-label">
            Comprar
          </button>
          <button ion-button color="blue" class="my-label">
            Vender
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item class="headerBckColor grayText">LAS MÁS BUSCADAS</ion-item>

      <ion-item-sliding>
        <ion-item>
          <ion-row>
            <ion-col col-6>
              <h3 class="blackText">FALABELLA</h3>
              <small class="grayTextSmall">S.A.C.I. falabella</small>
            </ion-col>
            <ion-col>
              <h3 class="grayTextBig">$300.000</h3>
            </ion-col>
            <ion-col>
              <h3>
                <ion-icon name="arrow-round-down" color="red"> 2,1% </ion-icon>
                <ion-icon name="arrow-forward" color="gray"></ion-icon>
              </h3>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="blue" class="my-label">
            Agregar a watchlist
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary" class="my-label">
            Comprar
          </button>
          <button ion-button color="blue" class="my-label">
            Vender
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-row>
            <ion-col col-6>
              <h3 class="blackText">NUEVAPOLAR</h3>
              <small class="grayTextSmall">EMPRESAS LA POLAR S.A.</small>
            </ion-col>
            <ion-col>
              <h3 class="grayTextBig">$45.678</h3>
            </ion-col>
            <ion-col>
              <h3>
                <ion-icon name="arrow-round-up" color="primary"> 2,1% </ion-icon>
                <ion-icon name="arrow-forward" color="gray"></ion-icon>
              </h3>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="blue" class="my-label">
            Agregar a watchlist
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary" class="my-label">
            Comprar
          </button>
          <button ion-button color="blue" class="my-label">
            Vender
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-row>
            <ion-col col-6>
              <h3 class="blackText">OROBLANCO</h3>
              <small class="grayTextSmall">Sociedad de inversiones oro...</small>
            </ion-col>
            <ion-col>
              <h3 class="grayTextBig">$10.000</h3>
            </ion-col>
            <ion-col>
              <h3>
                <ion-icon name="arrow-round-up" color="primary"> 2,1% </ion-icon>
                <ion-icon name="arrow-forward" color="gray"></ion-icon>
              </h3>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="blue" class="my-label">
            Agregar a watchlist
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary" class="my-label">
            Comprar
          </button>
          <button ion-button color="blue" class="my-label">
            Vender
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding>
        <ion-item>
          <ion-row>
            <ion-col col-6>
              <h3 class="blackText">SONDA</h3>
              <small class="grayTextSmall">Sonda S.A.</small>
            </ion-col>
            <ion-col>
              <h3 class="grayTextBig">$32.123</h3>
            </ion-col>
            <ion-col>
              <h3>
                <ion-icon name="arrow-round-up" color="primary"> 2,1% </ion-icon>
                <ion-icon name="arrow-forward" color="gray"></ion-icon>
              </h3>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="blue" class="my-label">
            Agregar a watchlist
          </button>
        </ion-item-options>
        <ion-item-options side="right">
          <button ion-button color="primary" class="my-label">
            Comprar
          </button>
          <button ion-button color="blue" class="my-label">
            Vender
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

  </ion-list>
</ion-content>
