// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.toolbar-background {
    background-color: #F1F5F9;
}

.searchbar-input{
  background-color: #FFFFFF !important;
}

.label, .label-ios{
  font-size: 10px;
}

.headerBckColor{
  background-color: #FAFAFA;
}

.grayText{
  background-color: #FAFAFA;
}

.grayTextSmall{
  color: #A8A8A8;
  font-weight: normal;
  font-size: 10px;
}

.grayTextBig{
  color: #A8A8A8;
  font-weight: normal;
}
